extends layout

block content
  form(method="post" enctype="multipart/form-data" action='/upload')
    input(type='file' name='thumbnail')
    p Note: your image is not stored.
    
    button(type="submit") Submit
