extends layout

block content
  -var imgsrc = 'data:image/png;base64,'  + modified;
  img(src=imgsrc)
  
  a(href='/') Do it again

  if isHappy > 0 
    script(src='/javascripts/happy.js')

  if  isHappy < 0 
    script(src='/javascripts/mad.js')
     
